* {-webkit-font-smoothing: antialiased;}

/* @font-face {
    font-family: "'Noto Sans', sans-serif";
    src: url("../fonts/NanumSquareWOFFRegular.woff") format("woff"),
         url("../fonts/NanumSquareOTFRegular.otf") format("opentype");
} */

@font-face {
    font-family: "NSBold";
    src: url("../fonts/NanumSquareOTFBold.otf");
}

@font-face {
    font-family: "NSExtrabold";
    src: url("../fonts/NanumSquareOTFExtraBold.otf");
}

@font-face {
    font-family: "NSLight";
    src: url("../fonts/NanumSquareOTFLight.otf");
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

/*header and navbar designs*/
header {
    overflow: hidden;
    border-bottom: 1px solid #e8e8e8;
    min-height: 55.95px;
    font-family: Roboto, sans-serif;
}

.nav-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex;
    padding-left: 30px;
    -webkit-transition: background-color 0.6s; /* Safari */
    transition: background-color 0.6s;
}

.nav-button {
    text-align: center;
    float: left;
    display: flex;
    padding: 17px 15px;
    color: #1e1e21;
    /* font-family: "Roboto", sans-serif; */
    font-family: 'Noto Sans', sans-serif;;
}

a .nav-button {
    font-size: 15px;
    text-decoration: none;
    /* font-family: "Roboto", sans-serif; */
    font-family: 'Noto Sans', sans-serif;
}

.nav-button:hover {
    color: #2c4a8a;
}

a .profile-button {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    border: 1px #444552 solid;
    padding: 5px 10px;
    border-radius: 3px;
    color:#1e1e21;
    background-color: #fdfdfd;
    cursor: pointer;
    /* margin-left: 10px; */
}

a .profile-button:hover {
    color: #fdfdfd;;
    background-color: #2c4a8a;
    /* margin-left: 10px; */
}
body {
    /* font: 400 16px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
    /* -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1; */
    /* font-kerning: normal; */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.home-wrapper {
    /* margin: 50px auto 30px;
    padding: 0px 30px; */
    max-width: calc(960px - (20px * 2));
    margin-right: auto;
    margin-left: auto;
    /* padding-right: 30px;
    padding-left: 30px; */
    /* margin-bottom: 60px; */
}

/* adjust with media screen */
@media  screen and (max-width: 500px) {
    .pub-container .pub-item-wrapper {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr; 
        margin-bottom: 30px;
    }

    .pub-fig-wrapper{
        margin-bottom: 8px;
        /* align-self:center; */
    }

    .pubfigure  {
        width: 100%;
        max-width: 225px;
    }

    p{
        font-size: 14.5px;
    }
    a{
        font-size: 14.5px;
    }

    .update-item-wrapper .update-title {
        font-size: 14.5px;
    }
    
    .update-item-wrapper .update-date {
        font-size: 14.5px;
    }

}

@media screen and (min-width: 501px) {

    .pub-container .pub-item-wrapper {
        display: grid;
        grid-template-columns: 200px auto;
        /* column-gap: 10px; */
        grid-template-rows: 1fr;
        margin-bottom: 30px;

    }

    .pubfigure#pubfigure-chimera {
        margin-top: -20px;
    }
    .pubfigure  {
        /* width: 100%; */
        max-width: 170px;
    }

    #pubfigure-lama {
        margin-top: 15px;
    } 
 
    #pubfigure-mocapevery {
        margin-top: 7px;
    } 

    p {
        font-size: 15px;
    }

    a {
        font-size: 15px;
    }

    .update-item-wrapper .update-title {
        font-size: 15px;
    }
    
    .update-item-wrapper .update-date {
        font-size: 15px;
        margin-top: -2px;
    }

}

@media  screen and (max-width: 600px) {
    #intro{
        margin-left: 76px;
    }
    .intro-wrapper {
        margin-top: 15px;
        display: flex;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;   
        margin-left:-76px; 
        flex-direction: column-reverse;
    }
    #profile {
        margin: 0 auto 0px 78px;
        max-width: 150px;
    }
    ul {
        padding-inline-start: 0px;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    /* .intro-wrapper {
        grid-template-columns: 240px auto;
        column-gap: 30px;
        grid-template-rows: 1fr;
    } */
    #intro{
        margin-left: 76px;
    }
    .intro-wrapper {
        display: grid;
        align-items: center;
        grid-template-columns:  auto 270px ;
        column-gap: 10px;
        grid-template-rows: 1fr;
        margin-left:-76px;
    }
    #profile {
        margin: 0 auto;
        max-width: 190px;
    }

}
@media  screen and  (max-width: 800px) {

    #intro{
        margin-left: 76px;
    }

    .home-wrapper {
        margin-bottom: 0px;
        padding-right: 30px;
        padding-left: 30px;
    }
    
    /* .section-wrapper {
        display: grid;
        grid-template-columns: 260px 1fr;
        column-gap: 50px;
        grid-template-rows: 1fr;
        margin-top: 70px;
    } */
    .section-wrapper {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;    
        margin-top: 40px;
    }

    .section-title {
        text-align: left;
        text-transform: capitalize;
        font-weight: 800;
        color: #464646;
        margin-bottom: 25px;
        letter-spacing: 0.5px;
    }

    #updates {
        margin-bottom: 28px;
    }  

    .page-content {    
        padding-top: 15px;
        margin-bottom: 80px;
        flex: 1;
    }
    

    ul {
        padding-inline-start: 0px;
    }

    #home-button.nav-button {
        padding-left: 0px;
    }
}

@media screen and (min-width: 801px) {

    #intro{
        margin-left: 88px;
    }

    #profile {
        margin: 0 auto;
        max-width: 190px;
    }
    
    .home-wrapper {
        /* margin: 50px auto 30px;
        padding: 0px 30px; */
        padding-right: 60px;
        padding-left: 0px;
        margin-bottom: 60px;
    }

    .intro-wrapper {
        display: grid;
        align-items: center;
        grid-template-columns: auto 270px;
        /* column-gap: 10px; */
        grid-template-rows: 1fr;
    }

    .section-wrapper {
        display: grid;
        grid-template-columns: 260px 1fr;
        column-gap: 40px;
        grid-template-rows: 1fr;
        margin-top: 40px;
    }   

    .section-title {
        font-weight: 700;
        color: #464646;
        /* color: #020320; */
        text-align: right;
        text-transform: capitalize;
        letter-spacing: 0.5px;
        padding-top: 2px;
    }    

    #updates {
        /* margin-top: px; */
    }  

    #pub-section-wrapper {
        margin-top: 40px;
        /* margin-bottom: 100px; */
    }
    
    .page-content {    
        padding-top: 30px;
        padding-bottom: 0px;
        flex: 1;
        margin-bottom: 50px;

    }

    .intro-wrapper #image-wrapper {
        margin-right: -40px;
    }

}

@media screen and (min-width: 801px) and (max-width: 1000px) {
    ul {
        padding-inline-start: 20px;
    }
}

.intro-wrapper #image-wrapper {
    display: flex;
    flex-direction: column;
}

.intro-wrapper #profile {
    /* margin: 0 auto;
    max-width: 180px; */
    /* vertical-align: middle; */
    /* padding-top: 25px; */
    border-radius: 22px;
}

.intro-wrapper #profile-caption {
        padding: 10px 15px 0;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        color: #919191;
}

/* .intro-wrapper #more-info-cv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
} */

/* .pub-fig-wrapper#mocapevery{
    width: 170px; 
    height: 100px; 
    overflow: hidden;
    display: flex;
    align-items: flex-start; 
} */


div {
    display: block;
}

#subtitle {
    margin-top: 0;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
}

.section-title{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #1e1e21;
    /* font-family: "Noto Sans KR", sans-serif; */
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01cm;
}

/* .pub-author u {
    font-weight: bolder;
} */

.pub-content-wrapper p{
    font-size: 14.5px;
}
b {
    letter-spacing: 0cm;
}
a {
    color: #2c4a8a;
    font-weight: 600;
    text-decoration: none;
    /* font-family: Roboto, sans-serif; */
    font-family: 'Noto Sans', sans-serif;
    /* letter-spacing: 0cm; */
    letter-spacing: -0.01cm;

}
.button-wrapper {
    margin-top:0px; 
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.update-item .update-item-wrapper {
    display: grid;
    align-items: top;
    grid-template-columns: 80px auto;
    column-gap: 13px;
    grid-template-rows: 1fr;
    margin-bottom: 13px;
}

.update-item-wrapper .update-title {
    font-weight: 500;
    color: #1e1e21;
    width: fit-content;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.6;
    /* margin-bottom: 10px; */
    letter-spacing: -0.01cm;
}

.update-item-wrapper .update-date {
    font-weight: 500;
    color: #1e1e21;
    width: fit-content;
    padding-top: 4px;
    font-family: 'Noto Sans', sans-serif;
}

.update-item-wrapper .update-content {
    /* font-weight: 500; */
    color: #1e1e21;
    width: fit-content;
}

/* @media screen and (min-width: 801px) {
    .update-container {
        margin-bottom: 60px;
    }
} */

.pub-item-wrapper{
    display: flex;
    flex-direction: column;
}

.pub-link a{
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.5;
}

/* .pub-container .pub-item-wrapper {
    display: grid;
    align-items: top;
    grid-template-columns: 80px auto;
    column-gap: 20px;
    grid-template-rows: 1fr;
    margin-bottom: 13px;
}
 */

.site-wrapper {
    max-width: calc(1000px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.site-footer {
    padding: 30px 0 10px 0;
    border-top: 1px solid #e8e8e8;
}

.contact-list {
    list-style: none;
    margin-top: 0px;
}

.contact-me {
    font-weight:700;
    color: #444552;
    font-size: 15px;
    padding-bottom: 15px;
    font-family: "Roboto", sans-serif;
}

.u-email {
    font-weight: 700;
    /* width: fit-content; */
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

.icon {
    font-size: 27px;
    margin-right: 15px;
    color: #2c4a8a;
}

.aca-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aca-columns {
    padding-left: 20px;
}

.aca-column {
    width: 100%;
}

.aca-heading {
    font-weight: 700;
    color: #444552;
    font-size: 17px;
    margin-bottom: 8px;
    margin-top: 0px;
}

#academic-section-wrapper.section-wrapper  {
    margin-top: 30px;
}
.aca-list {
    list-style-type: disc;
    padding-left: 25;
    margin: 0;
}

.aca-list li::marker {
    font-size: 12px;
}

.aca-list li {
    font-size: 15px;
    color: #1e1e21;
    line-height: 1.5;
}